@keyframes fadeinup{
    0%{
        opacity: 0.3;
        transform: translateY(3vh);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeinright{
    0%{
        opacity: 0.7;
        transform: translateX(-3vw);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideout{
    0%{
        opacity:  1;
        transform: translateX(0);
    }
    100%{
        opacity: 0;
        transform: translateX(-100vw);
    }
}

@keyframes slidein{
    0%{
        opacity: 0;
        visibility: visible;
        transform: translateX(100vw);
    }
    100%{
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
}

#inmobilita{
    margin-top: 1vh;
}

#inmob_parag{
    margin-top: 1vh;
}

:root{
    --blur-var:0;
}

.hide {
    display: none;
}

.show {
    display: block;
}

h3{
    font-size: 1.5vw;
}
h1, h2, h3, h4, h5, h6, p {
    color: white;
}
body {
    background-color: #d8d8d8;
    font-family: 'National Park';
    font-size: 1.75vh;
    color: white;
    background-image: linear-gradient(to bottom, #3ba974, #c52e8e);
    overflow-x: hidden;
}

body button {
    font-family: 'National Park';
}
#header-container {
    display: flex; /* Enables Flexbox layout */
    justify-content: flex-end; /* Aligns the icons to the right */
    align-items: flex-start; /* Aligns the icons at the top */
    padding: 2.1vh; /* Adjusts spacing inside the header */
    margin-bottom: 23vh;
    animation: fadeinup 0.3s linear 0s 1 normal;
}
.logo {
    position: absolute;
    top: 3vh;
    max-width: 12vh;
    border-radius: 100px;
    background-color: white;
    left: 6vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#header-container h1 {
    position: absolute;
    top: 3vh;
    left: 20vh;
    font-size: 7vh;
}
#header-container h2 {
    position: absolute;
    top: 11vh;
    left: 20vh;
    font-size: 3vh;
}
.icon-container {
    position: absolute;
    top: 4.5vh;
    right: 5.2vh;
    background-color: #ffffff;
    padding-top: 2.1vh;
    padding-bottom: 2vh;
    padding-left: 2.1vh;
    padding-right: 2.1vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: black;
    border-radius: 2vh;
    display: inline-flex;
}
.icon-container span, .icon-container i{
    font-size: 5vh;
    margin-left: 0.3vh;
    transition-duration: 0.3s;
}
.icon-container i {
    color: white;
    background-color: black;
    border-radius: 3vh;
    border: none;
}
.icon-container span:hover, .icon-container i:hover {
    background-color: #2f2f2f29;
    transition-duration: 0.3s;
    padding: 0.2vh;
    border-radius: 4vh;
    transform: scale(0.9);
}
.bandiera {
    width: 5vh;
    border-radius: 100px;
    cursor: pointer;
    margin-left: 2vh;
    transition-duration: 0.3s;
}
.bandiera:hover {
    transition-duration: 0.3s;
    transform: scale(0.9);
}
.sezioni-container {
    position: absolute;
    top: 18vh;
    width: 95%;
    background-color: #f8f8f87a;
    padding: 2vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 2vw;
    left: 0;
    right: 0;
    margin: auto;
    filter: blur(calc(var(--blur-var, 0) * 1px));
    box-sizing: border-box;
    animation: fadeinup 0.3s linear 0s 1 normal;
}
.sezioni-container span {
    font-size: 3.5vh;
}
.sezione {
    margin: 0.4vh;
    padding: 2vh;
    flex: 1 1 calc(100% / 6 - 10px);
    max-width: calc(100% / 6 - 10px); 
    box-sizing: border-box;
    border-radius: 1vw;
    display: inline-flex;
    align-items: center;
    background-color: #4DCC8E;
    text-decoration: none;
    color: white;
    justify-content: center;
    gap: 2vh;
    transition-duration: 0.3s;
    font-size: 3vh;
    cursor: pointer;
    opacity: 1;
}

.sezione:hover{
    background-color: #cf3295;
    transform: scale(0.9);
    font-weight: bold;
    border : solid 0.5vh #ffffff;
}

.sezione_selezionata {
    pointer-events : none;
    opacity: 1; 
    background-color : #ca2d91;
    transform : scale(0.9);
    color : white;
    border : solid 0.5vh white;
    font-weight : bold;
    border-color : white;
}

.sezione_precedente {
    pointer-events : auto;
    background-color : rgb(255, 148, 216); /* COLORE DI PROVA */
    transform : none;
    font-weight : 400;
    border : solid 0.5vh rgb(255, 148, 216);
    /*HomeButton.style.color = 'black';*/
}

.sezione:active {
    background-color: #FF3EB7;
    border-color: white;
}

@media screen and (max-width: 1280px) {
    .sezioni-container {
        display: none;
    }
}
.navmenu_mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #204586;
    border-top: solid 2px #ffffff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.navsez {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.navsez a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease-in-out;
    margin-right: 15px;
}

.navsez span {
    font-size: 24px;
    transition-duration: 0.3s;
}
.navsez span:hover {
    background-color: rgb(34, 92, 162);
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 100px;
    transition-duration: 0.3s;
    color: white;
}
footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
@media screen and (max-width: 1280px) {
    footer p {
        display: none;
    }
}
@media screen and (min-width: 1281px) {
    .navmenu_mobile {
        display: none;
    }
}
@media screen and (max-width: 640px) {
    .icon-container {
        display: none;
    }
}
.fullscreen-menu {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    flex-direction: column;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 9999;
    color: white; 
}

.fullscreen-menu.show {
    display: flex;
    animation: slideUp 0.3s ease-out forwards;
}

.fullscreen-menu.hide {
    display: flex;
    animation: slideDown 0.3s ease-out forwards;
}


@keyframes slideUp {
    0% {
        top: 100%;
        border-top-left-radius: 10px; 
        border-top-right-radius: 10px;
    }
    80% {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    100% {
        top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
@keyframes slideDown {
    0% {
        top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    20% {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    100% {
        top: 100%;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
}

.invert{
    filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(180deg);
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo-container {
    display: inline-flex;
}
.logo_menu {
    display: flex;
    align-items: center;
    max-width: 80px;
    margin-left: 5px;;
    margin-top: 5px;
    margin-bottom: -30px;
    background-color: white;
    border-radius: 100px;
}

.menu-text {
    color: white;
    position: fixed;
    top: 25px;
    left: 110px;
}

hr {
    border: 2px solid white;
    width: 95%;
}

.menu-nav {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 50px;
    font-weight: weight;
    padding: 3vw;
}

.menu-nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    margin: 10px 0;
    font-weight: weight;
}
.menu-nav a:hover {
    background-color: white;
}

p {
    color: white;
    font-size: 1em;
    margin: 0;
}
.menu-nav span {
    margin-right: 10px;
}
.close-button {
    color: white;
    border-radius: 100px;
    background-color: #FFFFFF39;
    border: none;
    padding-top: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
    cursor: pointer;
}
#what{
    position: absolute;
    margin-top: 8vh;
    margin-left: 2.5vw;
    background-color: #f8f8f87a;
    width: 95%;
    height: 60vh;
    border-radius: 2vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding-top: 2vh;
    animation: fadeinup 0.3s linear 0s 1 normal;
}

#intro_content {
    max-width: 97%;
    margin: 0 auto;
    background-color: white;
    border-radius: 1vw;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    height: 55vh;
    margin-top: 0.5vh;
}
#act_content {
    max-width: 97%;
    margin: 0 auto;
    background-color: white;
    border-radius: 1vw;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    height: 57vh;
    margin-top: 0.5vh;
}

#introduction {
    text-align: left;
    margin-left: 2vw;
    padding-top: 4vh;
    margin-bottom: -6vh;
    color: black;
    font-size: 6.5vh;
}

#intro-text{
    position: relative;
    color: black;
    border-radius: 4vw;
    margin-left: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 5vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-size: 2.5vh;
    max-width: 55%;
}

#intro-mobile{
    position: relative;
    color: black;
    border-radius: 4vw;
    margin-left: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 5vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-size: 2.5vh;
    max-width: 55%;
    visibility: hidden;
}

#img_body {
    position: absolute;
    z-index: 2;
    right: 20vh;
    top: 6vh;
    height: 22vw;
    width: 29vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    display: inline-flex;
    transition-duration: 0.5s;
}

#logo_body {
    z-index: 2;
    right: 37vh;
    top: 6vh;
    height: 4vw;
    width: 4vw;
    box-shadow: 0 4px 8px rgba(143, 39, 39, 0.2);
    border-radius: 100px;
    position: absolute;
    right: 6vh;
    transition-duration: 0.5s;
}

@media screen and (min-width: 641px) and (max-width: 1280px) {
    #what {
        margin-top: 2vh;
        margin-left: 3vw;
        background-color: #f8f8f87a;
        width: 95%;
        height: auto;
        border-radius: 2vw;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding-top: 2vh;
    }
    #intro-text {
        max-width: 90%;
        font-size: 2.3vh;
    }
    #img_body {
        display: none; /* Hide image for better layout */
    }
    #logo_body {
        width: 8vh;
        height: 8vh;
    }
}

#logo_body:hover {
    transform: rotate(360deg);
    transition-duration: 0.5s;
}
#goals {
    position: absolute;
    margin-top: 3vh;
    margin-left: 2.5vw;
    background-color: #f8f8f87a;
    width: 95%;
    height: 110vh;
    border-radius: 2vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding-top: 2vh;
    animation: fadeinup 0.3s linear 0s 1 normal;
    margin-bottom: 3vh;
}
#goals_title {
    color: rgb(0, 0, 0);
    font-size: 6vh;
    text-align: left;
    margin-left: 2vw;
    position: absolute;
    top: 4vh;
    margin-top: 5vh;
}

#separatore_2{
    position: relative;
    margin-top: 115vh;
}
.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin: 2vh;
    margin-top: 17vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'National Park', sans-serif;
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.card h3 {
    margin: 10px;
    text-align: center;
    font-size: 3vh;
    color: #333;
}

.card p {
    position: relative;
    color: black;
    border-radius: 4vw;
    margin-left: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
    
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-size: 2.5vh;
}

#obiettivi_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    height: 105vh;
    max-width: 97%;
    margin-left: 1.5vw;
    margin-top: 1vh;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
}

#goals_title {
    text-align: center;
    margin-bottom: 2.5vh;
    font-size: 6vh;
   
    color: #000000;
}
#activity_div{
    position: absolute;
    align-items: center;
    text-align: center;
    top: 33.5vh;
    margin-left: 2vw;
    background-color: #f8f8f87a;
    width: 94vw;
    height: 62vh;
    border-radius: 2vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding-top: 2vh;
    visibility: hidden;
    color: black;
}

#activity_title{
    text-align: left;
    margin-left: 2vw;
    padding-top: 4vh;
    margin-bottom: -6vh;
    color: black;
    font-size: 6.5vh;
}

#first_year{
    position: absolute;
    margin-top: 17vh;
    width: 40vw;
}
#second_year{
    position: absolute;
    margin-top: 17vh;
    margin-left: 52vw;
    width: 40vw;
}

#first_year_title{
    position: absolute;
    text-align: center;
    margin-top: 10vh;
    width: 40vw;
    color: black;
}
#second_year_title{
    position: absolute;
    text-align: center;
    margin-top: 10vh;
    margin-left: 52vw;
    width: 40vw;
    color: black;
}

#sep_line{
    position: absolute;
    width:0.2vh;
    height: 35vh;
    margin-left: 46vw;
    margin-top: 8vh;
    background-color: black;
    z-index: 0;
}

#separatore_1 {
    opacity: 1 !important;
    height: 2vh; /* Sets a slim, clean line */
    background-color: #f8f8f87a;
    border: none; /* Removes the default border */
    margin: 94vh 0 0 2.5vw; /* Adds 30px space above the <hr> */
    border-radius: 100px;
    max-width: 95%;

}
#scrollToTop {
    position: fixed;
    bottom: 2vh; /* Position at the bottom-right */
    right: 2vh;
    background-color: #4DCC8E;
    color: #ffffff;
    padding: 1vh;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 6vh;
    z-index: 999;
    animation: fadeinup 0.2s linear 0s 1 normal;
    cursor: pointer;
    transition-duration: 0.3s;
}
#scrollToTop:hover {
    border-radius: 2vh;
}
#mobile_obiettivi {
    display: none;
}

#partner_div{
    position: absolute;
    align-items: center;
    text-align: center;
    top: 35vh;
    margin-left: 2.5vw;
    background-color: #f8f8f87a;
    width: 94vw;
    height: 95vh;
    border-radius: 2vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding-top: 2vh;
    visibility: hidden;
    color: black;
}

#school_partner{
    position: absolute;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    height: 40vh;
    width: 45%;
    margin-left: 1.5vw;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#organization_partner{
    position: absolute;
    justify-content: space-between;
    flex-wrap: wrap;
    left: 0;
    gap: 15px;
    height: 40vh;
    width: 45vw;
    margin-left: 47vw;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#project_partner{
    position: absolute;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    height: 20vh;
    width: 97%;
    margin-top: 46vh;
    margin-left: 1.5vw;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#institutional_partner{
    position: absolute;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    height: 20vh;
    width: 97%;
    margin-top: 70vh;
    margin-left: 1.5vw;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#partner_div h3{
    text-align: center;
    color:black;
    font-size: 4vh;
}

#partner_div p{
    text-align: center;
    color: black;
    font-size: 2.5vh;
}

#project_partner p{
    margin-top: 3vh;
}

#school_partner p{
    margin-top: 5vh;
}

#organization_partner p{
    margin-top: 3vh;
}

#why{
    position: absolute;
    align-items: center;
    text-align: center;
    top: 35vh;
    margin-left: 2.5vw;
    background-color: #f8f8f87a;
    width: 94vw;
    height: 95vh;
    border-radius: 2vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding-top: 2vh;
    visibility: hidden;
    color: black;
}
@media screen and (max-width: 640px){
    #what{
        top: 12vh;
        width: 95%;
        height: 90vh !important;
        align-items: center;
        margin-left: 1.5vh;
        border-radius: 3vh;
    }
    #obiettivi_container {
        display: none;
    }
    #introduction{
        margin-left: 6.5vw;
        max-width: 80vw;
    }
    #img_body {
        display: none;
    }
    #intro-text{
        visibility: hidden !important;
    }
    #intro-mobile{
        position: absolute;
        top: 5vh;
        visibility: visible !important;
    }
    #intro_content {
        height: auto;
        border-radius: 3vh;
        width: 93%;
    }
    #intro_content h2 {
        font-size: 5vh;

    }
    #logo_body {
        width: 6vh;
        height: 6vh;
        margin-top: 1vh;
    }
    #goals {
        position: absolute;
        margin-top: 43vh;
        background-color: #f8f8f87a;
        width: 95%;
        margin-left: 1.5vh;
        height: 70vh;
        border-radius: 3vh;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding-top: 2vh;
        animation: fadeinup 0.3s linear 0s 1 normal;
    }
    #separatore_1 {
        position: absolute;
        margin-top: 40.5vh !important;
        margin-left: 2vw !important;
    }
    .obiettivi_content {
        background-color: white;
        width: 93%;
        align-items: center;
        margin-left: 2vh;
        max-height: 70vh !important;
        border-radius: 3vh;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    .obiettivi_content h2 {
        font-size: 5vh;
        color: black;
        padding-top: 4vh;
        padding-left: 6vw;
        margin-bottom: -6vh;
    }
    #intro_content {
        height: auto;
        border-radius: 3vh;
        width: 93%;
    }
}
#copyright {
    color: white;
    font-size: 2.5vh;
}